{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}
Accueil
{% endblock title %}

{% block content %}
<main>
    <!--? slider Area Start-->
    <div class="slider-area ">
        <div class="slider-active">
            <!-- Single Slider -->
            <div class="back">

            
            <div class="single-slider slider-height d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-9 col-lg-9">
                            <div class="hero__caption">
                                <h1 style="font-size: 60px !important; text-transform: none !important;">Apporter des solutions innovantes aux besoins dans les domaines de l’automobile et de la logistique </h1>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    <!-- slider Area End-->
    <!--? our info Start -->
    <div class="our-info-area pt-70 pb-40">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-info mb-30">
                        <div class="info-icon">
                            <span class="flaticon-support"></span>
                        </div>
                        <div class="info-caption">
                            <p>Contactez nous</p>
                            <span>+225 27 21 517 490</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-info mb-30">
                        <div class="info-icon">
                            <span class="flaticon-clock"></span>
                        </div>
                        <div class="info-caption">
                            <p>Horaire d'ouverture</p>
                            <span>Lundi - Sam 8.00 - 18.00</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-info mb-30">
                        <div class="info-icon">
                            <span class="flaticon-place"></span>
                        </div>
                        <div class="info-caption">
                            <p>Koumassi, Mairie, Bld du Caire</p>
                            <span>Côte d'Ivoire, Abidjan</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- our info End -->
    <!--? Categories Area Start -->
    <div class="categories-area section-padding30">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Section Tittle -->
                    <div class="section-tittle text-center mb-80">
                        <span>Nos Services</span>
                        <h2>Nous sommes à votre service pour</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-cat text-center mb-50">
                        
                        <div class="cat-cap">
                            <h5><a href="transport">Transport</a></h5>
                            <p>-	Transport de Marchandises <br>
                                -	Transport de matières premières et minerais <br>
                                -	Transport de fluides, oléagineux, hydrocarbures et produits pétroliers <br>
                                -	Transport routier de conteneurs <br>
                                -	Déménagement <br>
                                -	Etc…
                                </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-cat text-center mb-50">
                       
                        <div class="cat-cap">
                            <h5><a href="transit">Transit</a></h5>
                            <p>
                                -	Import-export <br>
                                -	Dédouanement et immatriculation de véhicule <br>
                                -	Expédition de colis
                                </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-cat text-center mb-50">
                       
                        <div class="cat-cap">
                            <h5><a href="entretien">Entretien</a></h5>
                            <p>-	Préparation de visite technique <br>
                                -	scan et diagnostic automobile <br>
                                -	Dépannage électronique <br>
                                -	Climatisation Auto <br>
                                -	Remorquage <br>
                                -	Dépannage et remorquage automobile
                                </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-cat text-center mb-50">
                       
                        <div class="cat-cap">
                            <h5><a href="">Location et vente</a></h5>
                            <p>	-	Berlines <br>
                                -	Pick UP <br>
                                -	SUV et 4x4 <br>
                                -	Fourgons <br>
                                -	Car et Bus <br>
                                -	Camion Benne <br>   
                                -	Camion 3T, 5T, 10 T et plus 
                                
                                </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-cat text-center mb-50">
                       
                        <div class="cat-cap">
                            <h5><a href="">Tapisserie générale</a></h5>
                            <p>	-	Plafond de véhicule <br>
                                -	Tapisserie  auto générale (- Siège Véhicule et accessoires – Portière – Tapis de voiture) <br>
                                -	Tapisserie de bateau
                                
                                
                                </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-cat text-center mb-50">
                       
                        <div class="cat-cap">
                            <h5><a href="">Travaux de confection et pose de bâche</a></h5>
                            <p>	-	Bâche camion cargo <br>
                                -   Bâche Pick Up <br>
                                -   Bâche pour tout type de véhicule <br>
                                -	Bâche pour bateaux
                                
                                
                                
                                </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 col-md-8 col-sm-6" style="display: flex;
                justify-content: center;
                align-items: center;
                height: 200px;"  >
                 <a href="services" class="btn">Voir plus de services</a>
                </div>
               
            


            </div>
        </div>
    </div>
    <!-- Categories Area End -->
    <!--? About Area Start -->
    <div class="about-low-area padding-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="about-caption mb-50">
                        <!-- Section Tittle -->
                        <div class="section-tittle mb-35">
                            <span>A propos de nous</span>
                            <h2>Des solutions logistiques et de transport sûres qui vous ferons gagner un temps précieux !</h2>
                        </div>
                        <p>TRANSIT AUTOMOBILE PLUS est une société qui est spécialisée dans le domaine des services automobiles et activités connexes. Elle a été créée par de jeunes entrepreneurs dynamiques ivoiriens. Son siège social est situé à Abidjan Koumassi. Sa récente existence est compensée par l’expérience de ses promoteurs qui ont exercé dans le milieu professionnel, notamment dans le secteur privé dans différents secteurs.</p>
                        <a href="propos" class="btn">En savoir plus</a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <!-- about-img -->
                    <div class="about-img ">
                        <div class="about-font-img">
                            <img src="{% static 'img/gallery/about2.png' %}" alt="">
                        </div>
                        <div class="about-back-img d-none d-lg-block">
                            <img src="{% static 'img/gallery/about1.png' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
   
 
</main>
{% endblock content %}

