{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}
A propos
{% endblock title %}

{% block content %}
<main>
    <!--? slider Area Start-->
    <div class="slider-area ">
        <div class="single-slider hero-overly slider-height2 d-flex align-items-center" data-background="{% static 'img/hero/about.jpg' %}">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap">
                            <h2>A Propos</h2>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="accueil">Accueil</a></li>
                                    <li class="breadcrumb-item"><a href="#">A propos</a></li> 
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider Area End-->
    <!--? About Area Start -->
    <div class="about-low-area section-padding30">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="about-caption mb-50">
                        <!-- Section Tittle -->
                        <div class="section-tittle mb-35">
                            <span>A propos de nous</span>
                            <h2>Apporter des solutions innovantes aux besoins dans les domaines de l’automobile et de la logistique </h2>
                        </div>
                        <p>TRANSIT AUTOMOBILE PLUS est une société qui est spécialisée dans le domaine des services automobiles et activités connexes. Elle a été créée par de jeunes entrepreneurs dynamiques ivoiriens. Son siège social est situé à Abidjan Koumassi. Sa récente existence est compensée par l’expérience de ses promoteurs qui ont exercé dans le milieu professionnel, notamment dans le secteur privé dans différents secteurs. <br>
                            <br>
                            TRANSIT AUTOMOBILE PLUS est dirigée par une équipe qualifiée et compétente. Elle est composée d’un professionnel dans le domaine du transport et d’un spécialiste en Administration et Gestion des Entreprises. TA+ mettant l’accent sur le professionnalisme. A cet effet, elle a mis en place une structure dynamique basée sur la réactivité et la promptitude à répondre aux besoins de ses clients. 
                            </p>
                            <p>NOTRE VISION Devenir un partenaire incontournable dans les domaines et services automobiles.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <!-- about-img -->
                    <div class="about-img ">
                        <div class="about-font-img">
                            <img src="{% static 'img/gallery/about2.png' %}" alt="">
                        </div>
                        <div class="about-back-img d-none d-lg-block">
                            <img src="{% static 'img/gallery/about1.png' %}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <h3 class="mb-20">Nos valeurs</h3>
        <div class="">
            <ul class="unordered-list">
                <li>Assistance</li>
                <li>Rigueur</li>
                <li>Professionalisme</li>
                
            </ul>
        </div>
                </div>

            </div>
        </div>
    </div>
    
   
</main>
{% endblock content %}