{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}
Services
{% endblock title %}

{% block content %}
<main>
    <!--? slider Area Start-->
    <div class="slider-area ">
        <div class="single-slider hero-overly slider-height2 d-flex align-items-center" data-background="{% static 'img/hero/about.jpg' %}">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap">
                            <h2>Nos Services</h2>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="accueil">Accueil</a></li>
                                    <li class="breadcrumb-item"><a href="#">Nos Services</a></li> 
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider Area End-->
    <!--? Categories Area Start -->
    <div class="categories-area section-padding30">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Section Tittle -->
                    <div class="section-tittle text-center mb-80">
                        <span>Nos Services</span>
                        <h2>Que pouvons-nous faire pour vous ?</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-cat text-center mb-50">
                        
                        <div class="cat-cap">
                            <h5><a href="transport">Transport</a></h5>
                            <p>TA+ vous propose des services de transport logistique alliant qualité, fiabilité et rapidité, pour assurer la livraison de vos produits à des tarifs compétitifs et dans les meilleurs délais.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-cat text-center mb-50">
                       
                        <div class="cat-cap">
                            <h5><a href="transit">Transit</a></h5>
                            <p>TA+ a une maîtrise parfaite des formalités douanières qui vous garantit la rapidité et l’efficacité des opérations tant à l’import qu’à l’export de toute catégorie de marchandise.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-cat text-center mb-50">
                       
                        <div class="cat-cap">
                            <h5><a href="entretien">Entretien</a></h5>
                            <p>Nous disposons des outils de diagnostic, des recommandations techniques, des pièces de rechange de constructeurs et de techniciens formés.</p>
                        </div>
                    </div>
                </div>


                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-cat text-center mb-50">
                        
                        <div class="cat-cap">
                            <h5><a href="garage">Service garage</a></h5>
                            <p>Nous assurons la réparation de votre véhicule particulier ou de votre flotte de véhicules d’entreprise. Nous intervenons le plus rapidement possible sur vos véhicules</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-cat text-center mb-50">
                        
                        <div class="cat-cap">
                            <h5><a href="piece">Pièce automobile</a></h5>
                            <p>TA+ est le distributeur incontournable de pièces automobile fiable et de produits d'entretien pour les automobiles à Abidjan en Côte d'Ivoire.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-cat text-center mb-50">
                        
                        <div class="cat-cap">
                            <h5><a href="assistance">Assitance</a></h5>
                            <p>Nous organisons votre dépannage pour une réparation rapide de votre véhicule. Nous nous déplaçons afin de vous venir en aide. Nous sommes disponibles pour vous.
                                </p>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
    <!-- Categories Area End -->
   
</main>
{% endblock content %}





