{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}
Transit
{% endblock title %}

{% block content %}
<div class="team-area section-padding30">
    <div class="container">
        <div class="row justify-content-center">
            <div class="cl-xl-7 col-lg-8 col-md-10">
                <!-- Section Tittle -->
                <div class="section-tittle text-center mb-70">
                    <span>Transit</span>
                    <h2>Traçabilité permanente des marchandises et une garantie</h2>
                </div> 
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="single-team mb-30 text-center">
                    <div class="team-img">
                        <img src="{% static 'img/import.jpeg' %}" alt="">
                        <div class="team-caption">
                            <p>Import export</p> 
                        </div>
                    
                     </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="single-team mb-30 text-center">
                    <div class="team-img">
                        <img src="{% static 'img/container.jpeg' %}" alt="">
                        <div class="team-caption">
                            <p>Container</p> 
                        </div>
                     </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="single-team mb-30 text-center">
                    <div class="team-img">
                        <img src="{% static 'img/logistique.jpeg' %}" alt="">
                        <div class="team-caption">
                            <p>Logistique</p> 
                        </div>
                     </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="single-team mb-30 text-center">
                    <div class="team-img">
                        <img src="{% static 'img/li.jpeg' %}" alt="">
                        <div class="team-caption">
                            <p>Livraison de container</p> 
                        </div>
                     </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="single-team mb-30 text-center">
                    <div class="team-img">
                        <img src="{% static 'img/fret ae.jpeg' %}" alt="">
                        <div class="team-caption">
                            <p>Fret aérien</p> 
                        </div>
                     </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="single-team mb-30 text-center">
                    <div class="team-img">
                        <img src="{% static 'img/fret ma.jpeg' %}" alt="">
                        <div class="team-caption">
                            <p>Fret maritime</p> 
                        </div>
                     </div>
                </div>
            </div>
            
            
        </div>
    </div>
</div>
{% endblock content %}